.container{
    background-image: url("/Images/pizza17.jpg"); background-repeat: no-repeat; 
    height: 100vh
}

#pizza-text{
    text-emphasis: 10px;
    font-size: 70px;
    color: rgb(39, 90, 5);
    padding-left: 60%;
    padding-top: 5%;
    text-align: center;
    line-height: 95%;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(250, 246, 209);
    display: table; padding-top: 5%; 
    margin: 25px auto 10px auto; 
    padding:5px;font: size 70px;background-color:rgb(245, 138, 17);color:#ffffff;
}
.navbar {
    background-color: rgb(253, 225, 183) !important;
   }

.container2{
    margin-left: 70px; margin-top: 5px;
}

#aboutus{
    
}

#about-us{
    margin-right: 70px;
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
}

.container4{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 100px;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(69, 126, 5);
    font-weight: bolder;
    font-size: 60px;
}


