.container{
    background-image: url(/images/pizza/pizza14.jpg);
    height: 70vh
}

.pizza-text{
    text-align: center;
    font-size: 100px;
    color: rgba(241, 61, 7, 0.911);
    font-style: italic;
    font-weight: bolder;
    font-variant: normal;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 1; 
    padding-top: 30px;
    padding-left: 50px;
    
}
.navbar {
    background-color: rgb(206, 214, 132) !important;
   }
